body {
  font-family: Open Sans;
  font-weight: bold; }

* {
  padding: 0px;
  margin: 0px; }

h1, h2, ul, input {
  margin-bottom: 16px;
  box-shadow: inset 0px 0px 8px 0px #FCD24D;
  border-radius: 10px;
  text-shadow: 0px 0px 8px rgba(0, 0, 0, 0.4); }

body {
  padding: 16px; }

body {
  color: #777;
  color: #FCD24D;
  background: #2888E2;
  margin: 0 auto;
  width: 60%; }

h1, h2 {
  text-align: center;
  color: white;
  color: black;
  background: #1370A3;
  background: #FCD24D;
  border-radius: 5px;
  padding: 8px; }

h2 {
  padding: 14px; }

ul {
  padding-left: 0px;
  border-radius: 5px;
  background: #FCD24D;
  color: #2888E2;
  color: black; }
  ul li {
    padding: 14px;
    list-style-type: none;
    display: block; }
  ul li + li {
    border-top: 1px solid #2888E2; }

input {
  border: 3px solid #FCD24D;
  border-radius: 5px;
  background: #2888E2;
  color: #FCD24D;
  font-size: 16px;
  font-weight: bold;
  padding: 15px; }
  input:focus {
    background: #555;
    outline: none; }
  input[type=text] {
    width: 70%;
    margin-right: 0px; }
  input[type=submit] {
    width: 20%;
    float: right;
    background: #FCD24D;
    color: black;
    font-weight: bold;
    text-transform: uppercase; }
